<% include ./partials/header %>

<% 
const monthNames = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"];
a = blog.created_at;
d = a.getDate();
m = monthNames[a.getMonth()];
y = a.getFullYear();
h = a.getHours();
mi = a.getMinutes();
%>

<div class="container" id="scontainer">
    <h1 class="mt-4 mb-3"><%= blog.title %></h1>
    <h4 class="mb-3"><%= blog.author.username %></h4>
    <p style="color: grey"><%= d %> <%= m %> <%= y %> &nbsp|&nbsp <%= h %>:<%= mi %> </p>
    <div>
            <img src="<%= blog.image %>" style="width: 100%; height: 400px;">
            <p class="mt-4"><%= blog.content %></p>
    </div>
    <div class="d-flex align-items-start">
            <a href="/blog/<%= blog._id %>/edit"><button class="btn btn-outline-success">Edit</button></a>
        <form class="delete-form" action="/blog/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger ml-2">Delete</button>
        </form>
    </div>
</div>

<% include ./partials/footer %>